body {

background:#0b1220;
color:white;
font-family:Arial;

}

.xiomy-container{

display:flex;
height:100vh;
align-items:center;
justify-content:center;
gap:60px;

}

#xiomy-avatar{

width:500px;
height:700px;

}

.xiomy-panel{

background:#111a30;
padding:40px;
border-radius:20px;
width:400px;

}

button{

background:#1d7cff;
border:none;
padding:12px 25px;
border-radius:10px;
color:white;
font-size:16px;

}